{% extends 'base.html' %}

{% block head %}
    <title>Reset Password Done</title>
{% endblock %}

{% block body %}
    <div class="password-reset-done">
        <div class="container">
            <div class="jumbotron">
                <h1>PASSWORD RESET SENT</h1>
                <hr>
                <p>
                    We've emailed you instructions for setting your
                    password, if an account exists with the email you
                    entered. You should receive them shortly.
                <hr>
                    If you don't receive an email, please make sure
                    you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </div>
{% endblock %}