{% extends 'base.html' %}

{% block head %}
    <title>Reset Password</title>
{% endblock %}

{% block body %}
    <div class="login">
        <div class="container">
            <div class="jumbotron">
                <h1>RESET PASSWORD</h1>
                <h3>You can reset password here</h3>
                <hr>
                <h5>
                    Forgotten your password? Enter your email address
                    below, and we will email instructions for setting
                    a new one.
                </h5>
                <form action="{% url 'accounts:reset_password' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-danger">
                    RESET
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}




